@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: rgb(232, 232, 232);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgb(232, 232, 232)), color-stop(18%, #dddddd), color-stop(33%, rgb(232, 232, 232)));
    background: -webkit-linear-gradient(left, rgb(232, 232, 232) 8%, #dddddd 18%, rgb(232, 232, 232) 33%);
    background: linear-gradient(to right, rgb(232, 232, 232) 8%, #dddddd 18%, rgb(232, 232, 232) 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    position: relative;
}