html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Verdana';
    font-size: 12pt;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    min-width: 340px;
    background: rgb(242, 242, 242);
}

a {
    color: #d52116;
}

p a.link {
    font-size: 10pt;
}

p a.link:first-letter {
    text-transform: capitalize;
} 

p a.link:hover {
    color: #d42014;
}

p.title {
    color: crimson;
    font-size: 22pt;
    text-align: center;
}

p.label {
    color: crimson;
    font-size: 10pt;
    text-align: left;
}

p.title:first-letter {
    text-transform: capitalize;
}

p.sub-title {
    color: crimson;
    font-size: 18pt;
    text-align: center;
}

p.hint {
    color: darkgrey;
    font-size: 10pt;
    /*text-align: right;*/
}

p.hint:first-letter {
    text-transform: capitalize;
}


/*n-progress*/

#progress-bar-loader {
    height: 2px;
    z-index: 9999;
    position: fixed;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}


/*ovveride react-phone-number-input*/

.react-phone-number-input__phone:focus {
    border-bottom-color: #d52116 !important;
    border-width: 2px !important;
}

.rrui__select__selected:focus {
    border-bottom-color: #d52116 !important;
    border-width: 2px !important;
}

input.no-autofill:-webkit-autofill {
    background-color: white !important;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    flex: 1;
}

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 12px;
}